.react-jinke-music-player {
  width: 60px;
  height: 60px;
  color: #0c0c0c;
}

.react-jinke-music-player .music-player-controller {
  border: 2px solid rgb(233, 233, 233);
  color: rgb(186, 186, 186);
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.562);
}

.react-jinke-music-player .music-player-controller:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.562);
}

.music-player-panel {
  background-color: rgba(7, 27, 41, 0.632);
}

#music-player-controller {
  background-color: rgb(33, 33, 33);
  width: 60px;
  height: 60px;
}

.music-player-controller-setting {
  display: none !important;
}

.audio-lists-panel-header .title {
  font-weight: bold;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.351);
}

.audio-item {
  background-color: #000000 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.audio-title {
  font-weight: bold;
}

.player-name {
  font-weight: bold;
}

.progress-bar {
  background: rgba(255, 255, 255, 0) !important;
}
