@import '../../base/list';

.contactList {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  border-top: 1px solid rgba(92, 41, 150, 0.637);
  background: rgba(209, 204, 255, 0.233);
  margin: 0;

  li {
    border-radius: 50%;
    margin: 0 5px;

    &:hover {
      background: rgba(190, 183, 253, 0.315);
      svg: {
        fill: white;
      }
    }

    button {
      &:hover {
        background: none;
      }
    }
  }
}

.projectList {
}
