.toggle1 {
  border: 2px solid #ababab;
  border-radius: 50px;
  position: relative;
  height: 25px;
  width: 50px;
  margin: 10px;
  &:hover {
    .toggle1_inner {
      background: rgb(223, 223, 223);
    }
  }

  .toggle1_inner {
    position: absolute;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 50%;
    background: rgb(211, 211, 211);
    height: 20px;
    width: 20px;
    top: 1.5px;
    margin: -2px 0 0 -10px;
    transition: 0.1s linear;
  }

  .toggle1_inner_active {
    left: 18%;
  }

  .toggle1_inner_inactive {
    left: 75%;
  }
}
