@import '../abstracts/mixins';
@import '../abstracts/variables';

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 35px auto 0 auto;
  padding: 50px;
  // border-top: 1px solid rgba(0, 0, 0, 0.075);
}
