@import '../abstracts/mixins';
@import '../abstracts/variables';

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 70px auto 0 auto;
}
