@import '../abstracts/mixins';
@import '../partials/menu';

$zIndex: 10001;

.menuAside {
  @include animation('slide-left .5s');
  position: fixed;
  border-left: 1px solid #7c5295;
  display: initial;
  z-index: $zIndex;
}

.menuAsideHide {
  @include animation('slide-out .5s');
  right: -250px;
  display: none;
}

.menuAsideInitial {
  position: fixed;
  right: -250px;
  z-index: $zIndex;
  display: initial;
}
